/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

/* Responsive grid */
.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 1rem;
}
